<h1>Reception Scheduler</h1>

<p class="lead">An app to allow staff to view and book shifts at reception with the following contraints...</p>

<ul>
  <li>Opening hours are 7am until 3am 7 days a week</li>
  <li>Shifts can be 8 hours long</li>
  <li>Only one member of staff per shift</li>
  <li>Employee can work a maximum of 40 hours per week</li>
</ul>

<p class="lead">Oh and build as much as possible in under 4 hours!</p>
